// media
$pc: 'only screen and (min-width:769px) ';
$sp: 'only screen and (max-width:769px) ';

// theme color
$yellow: #E4CC49;
$brown: #916034;
$green: #0FA17E;
$light-gray: #C4C4C4;
$dark-gray: #9A9A9A;

// mixins...